CompileFlags:
  Add: [
    "-IC:\\Users\\tongs\\Documents\\code\\gravity-sim\\SDL2\\x86_64-w64-mingw32\\include",
    "-LC:\\Users\\tongs\\Documents\\code\\gravity-sim\\SDL2\\x86_64-w64-mingw32\\lib",
    "-IC:\\mingw64\\include",
    "-lmingw32",
    "-lSDL2main",
    "-lSDL2",
  ]
  Remove: -f*
